In [21]:
import pandas as pd

Normalización de datos de Yelp Reviews

In [51]:
dfy = pd.read_csv(r'dataset_review_final_yelp.csv')

In [ ]:
dfy

In [52]:
# Contar cuántos valores únicos hay en la columna 'stars'
unique_y = dfy['stars'].nunique()
# cambiar el tipo de dato a tipo entero
dfy['stars'] = dfy['stars'].astype(int)

In [53]:
# Crear la columna 'rating' y caragar con la suma de las otras columnas
dfy['rating'] = dfy['useful'] + dfy['funny'] + dfy['cool'] + dfy['stars']

In [54]:
# eliminar las columnas
columnas_a_eliminar = ['useful', 'funny', 'cool', 'stars']
dfy = dfy.drop(columnas_a_eliminar, axis=1)

In [55]:
# Cambiar el nombre de la columna business_id por yelp_id
dfy = dfy.rename(columns={'business_id': 'yelp_id'})

In [56]:
# Crear la columna 'platform' y poblarla con la letra Y
dfy['platform'] = 'Y'

In [57]:
dfy

,review_id,user_id,yelp_id,text,date,rating,platform
0,qoQrrHAwJ-mFTSFOJJe2xA,HN1nQvCoGfNtWkKdg2UPsw,k5LRHoQHGyaLjC9i6RkGcQ,I cannot believe this only has one star:(.\nTh...,2017-05-03 23:37:46,5,Y
1,7Xx8EtbaabKVTkGMx_mB-g,sDTUe9ljR48xMGw75y3THA,k5LRHoQHGyaLjC9i6RkGcQ,My wife and I have bought many subs at this st...,2018-08-04 19:44:44,5,Y
2,Y3A6iIruGcijvxxvO-CwFA,7tUq3BNpg-dyBvhPmvmSjA,k5LRHoQHGyaLjC9i6RkGcQ,For a Subway it is consistent but if I want a ...,2013-02-09 20:58:50,4,Y
3,kNvOIr-EApX0TxJ9n4LUjQ,2lzg7AXU3SeR0k1-gCAGlw,k5LRHoQHGyaLjC9i6RkGcQ,Tried a mobile order since BOGO. Never again....,2020-03-08 18:25:14,2,Y
4,nk_Dk3_gjMtM4a6j1x5uDA,Gy9_hdQYgcbvRe6zQAFJyQ,k5LRHoQHGyaLjC9i6RkGcQ,"Pulled in at 9:58pm, I know I was close to the...",2018-12-22 03:07:23,2,Y
...,...,...,...,...,...,...,...
789392,Ty0kH4zkW3LITgZOUbaoRQ,WUbPRxpzBiLrR99Ur25_Ow,scf430KfZAuglZdiv44zOQ,Very good hibachi at an affordable rate! They'...,2017-08-06 20:04:28,5,Y
789393,sVhUXNTeO3zfI6l_Hxt7LQ,CyhZB9-6OuJ9jgm8D_ME9A,scf430KfZAuglZdiv44zOQ,Very good. Veggies are always very fresh. The ...,2021-09-30 21:06:50,5,Y
789394,iSESKbgykGhXCCXlHeN-uQ,UJNLqfAlxQmO527Id5Yu3Q,scf430KfZAuglZdiv44zOQ,Oriental food restaurants can be hit or miss. ...,2019-12-20 19:11:36,5,Y
789395,lRDp2xu8zqKLP69Fa-EUCA,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,This spot is a quick version of traditional co...,2021-09-09 17:31:25,13,Y
789396,94K4rWS-9_f6mcm1kiGr6Q,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,Here's another local gem that I have passed by...,2021-03-07 21:10:30,23,Y

Normalización de datos de Maps Review

In [22]:
dfm = pd.read_csv(r'dataset_review_final_maps.csv')

In [ ]:
dfm

In [23]:
# Contar cuántos 'SinDato' hay en cada columna
count_time_resp = (dfm['time_resp'] == 'SinDato').sum()
count_text_resp = (dfm['text_resp'] == 'SinDato').sum()
print(f"Cantidad de 'SinDato' en 'time_resp': {count_time_resp}")
print(f"Cantidad de 'SinDato' en 'text_resp': {count_text_resp}")

Cantidad de 'SinDato' en 'time_resp': 2195539
Cantidad de 'SinDato' en 'text_resp': 2195539

In [24]:
# eliminar las columnas
columnas_a_eliminar = ['time_resp', 'text_resp', 'name']
dfm = dfm.drop(columnas_a_eliminar, axis=1)

In [25]:
# Cambiar el nombre de la columna time por date
dfm = dfm.rename(columns={'time': 'date'})

In [35]:
# Crear la columna 'review_id' y poblarla con una clave única
dfm['review_id'] = range(1, len(dfm) + 1)

In [47]:
# Crear la columna 'platform' y poblarla con la letra M
dfm['platform'] = 'M'

In [49]:
# Reordenar las columnas
nuevo_orden = ['review_id', 'user_id', 'gmap_id', 'text', 'date', 'rating', 'platform']  
dfm = dfm[nuevo_orden]

In [50]:
dfm

,review_id,user_id,gmap_id,text,date,rating,platform
0,1,117957342175548225876,0x88c36b29bf24527d:0x71f03fe122633cf4,Bob is awesome and a real treat to see when im...,2021-02-26 18:49:20,5,M
1,2,108529496603242733841,0x88c36b29bf24527d:0x71f03fe122633cf4,"Wow!! The views, cleanliness and just wow!!",2020-08-29 15:52:00,5,M
2,3,111306040769174335510,0x88c36b29bf24527d:0x71f03fe122633cf4,My mother and father stayed at Beechplace and ...,2018-10-29 19:18:06,5,M
3,4,111781799630352343298,0x88c36b29bf24527d:0x71f03fe122633cf4,Nice,2021-04-01 16:18:26,4,M
4,5,112438892641895059639,0x88c36b29bf24527d:0x71f03fe122633cf4,Beautiful complex with great amenities on site...,2016-11-21 12:58:11,4,M
...,...,...,...,...,...,...,...
2613576,2613577,112127309794104412411,0x88d908feeaeded1f:0x29c1bf6101ce3a42,Great mall. Lots of outlets. Great prices. Wil...,2018-01-08 13:23:23,5,M
2613577,2613578,102979106468809897289,0x88d908feeaeded1f:0x29c1bf6101ce3a42,My Favorite Mall in Town,2019-12-15 01:53:30,5,M
2613578,2613579,112526145082990092335,0x88d908feeaeded1f:0x29c1bf6101ce3a42,Great place if you like to walk around I need ...,2017-08-30 18:00:16,3,M
2613579,2613580,103990867065092397510,0x88d908feeaeded1f:0x29c1bf6101ce3a42,It is a buyers paradise. Hundred places inside...,2017-08-21 05:27:52,5,M
2613580,2613581,110377147788065022784,0x88d908feeaeded1f:0x29c1bf6101ce3a42,I love this place so much and come here alot a...,2018-07-10 19:16:53,5,M

Se exportan los datasets normalizados

In [58]:
#dfy.to_csv('review_yelp_normalized.csv', index=False)
#dfm.to_csv('review_maps_normalized.csv', index=False)

Se unifican los datasets de review Yelp y Maps

Para eso, necesitamos importar los datasets de Business tanto de Yelp como de Maps

In [ ]:
df_BY = pd.read_csv(r'Business_Yelp.csv')

In [ ]:
df_BM = pd.read_csv(r'Business_Maps.csv')

Renombramos los datasets de Reviews

In [ ]:
# Dataframe Reviews Yelp
df_RY = dfy
# Dataframe Reviews Maps
df_RM = dfm

In [ ]:
#df_RY = pd.read_csv(r'C:\Users\Sofi\Desktop\Henry\LABS\Borrador_PF\PF\Data\Union_datasets\Review\review_yelp_normalized.csv')

In [ ]:
#df_RM = pd.read_csv(r'C:\Users\Sofi\Desktop\Henry\LABS\Borrador_PF\PF\Data\Union_datasets\Review\review_maps_normalized.csv')

Agregar columna 'business_id' al dataset de 'review_yelp_normalized'

In [ ]:
df_Ryelp_con_business_id = df_RY.merge(df_BY[['yelp_id', 'business_id']], on='yelp_id', how='left')

In [ ]:
df_Ryelp_con_business_id

,review_id,user_id,yelp_id,text,date,rating,platform,business_id
0,qoQrrHAwJ-mFTSFOJJe2xA,HN1nQvCoGfNtWkKdg2UPsw,k5LRHoQHGyaLjC9i6RkGcQ,I cannot believe this only has one star:(.\nTh...,2017-05-03 23:37:46,5,Y,-82.247303-27.896959
1,7Xx8EtbaabKVTkGMx_mB-g,sDTUe9ljR48xMGw75y3THA,k5LRHoQHGyaLjC9i6RkGcQ,My wife and I have bought many subs at this st...,2018-08-04 19:44:44,5,Y,-82.247303-27.896959
2,Y3A6iIruGcijvxxvO-CwFA,7tUq3BNpg-dyBvhPmvmSjA,k5LRHoQHGyaLjC9i6RkGcQ,For a Subway it is consistent but if I want a ...,2013-02-09 20:58:50,4,Y,-82.247303-27.896959
3,kNvOIr-EApX0TxJ9n4LUjQ,2lzg7AXU3SeR0k1-gCAGlw,k5LRHoQHGyaLjC9i6RkGcQ,Tried a mobile order since BOGO. Never again....,2020-03-08 18:25:14,2,Y,-82.247303-27.896959
4,nk_Dk3_gjMtM4a6j1x5uDA,Gy9_hdQYgcbvRe6zQAFJyQ,k5LRHoQHGyaLjC9i6RkGcQ,"Pulled in at 9:58pm, I know I was close to the...",2018-12-22 03:07:23,2,Y,-82.247303-27.896959
...,...,...,...,...,...,...,...,...
789392,Ty0kH4zkW3LITgZOUbaoRQ,WUbPRxpzBiLrR99Ur25_Ow,scf430KfZAuglZdiv44zOQ,Very good hibachi at an affordable rate! They'...,2017-08-06 20:04:28,5,Y,-82.256435-27.939031
789393,sVhUXNTeO3zfI6l_Hxt7LQ,CyhZB9-6OuJ9jgm8D_ME9A,scf430KfZAuglZdiv44zOQ,Very good. Veggies are always very fresh. The ...,2021-09-30 21:06:50,5,Y,-82.256435-27.939031
789394,iSESKbgykGhXCCXlHeN-uQ,UJNLqfAlxQmO527Id5Yu3Q,scf430KfZAuglZdiv44zOQ,Oriental food restaurants can be hit or miss. ...,2019-12-20 19:11:36,5,Y,-82.256435-27.939031
789395,lRDp2xu8zqKLP69Fa-EUCA,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,This spot is a quick version of traditional co...,2021-09-09 17:31:25,13,Y,-82.256435-27.939031
789396,94K4rWS-9_f6mcm1kiGr6Q,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,Here's another local gem that I have passed by...,2021-03-07 21:10:30,23,Y,-82.256435-27.939031

Agregar columna 'business_id' al dataset de 'review_maps_normalized'

In [ ]:
df_RM_con_business_id = df_RM.merge(df_BM[['gmap_id', 'business_id']], on='gmap_id', how='left')

In [ ]:
# Sumar los nulos que equivalen a los registros que no tuvieron coincidencias.
df_RM_con_business_id.isnull().sum().sum()

1718049

In [ ]:
# Eliminamos los nulos ya que son registros que no se corresponden con restaurantes.
df_sin_nan_business_id = df_RM_con_business_id.dropna(subset=['business_id'])

In [ ]:
df_sin_nan_business_id

,review_id,user_id,gmap_id,text,date,rating,platform,business_id
571,572,109618771615485546482,0x88d9ab97fb55bebf:0x57152adb298e368,"Best service I've had in a while, the waiter w...",2016-09-21 05:50:51,5,M,-80.154709-26.011536
572,573,102292736999525394556,0x88d9ab97fb55bebf:0x57152adb298e368,"I loved the people, when I worked there and al...",2017-06-25 01:32:55,5,M,-80.154709-26.011536
573,574,115255773073332262064,0x88d9ab97fb55bebf:0x57152adb298e368,Best wings ever! Still can't find a place that...,2015-12-19 18:39:21,5,M,-80.154709-26.011536
574,575,111199664269920344334,0x88d9ab97fb55bebf:0x57152adb298e368,I used to go to this place all the time about ...,2016-10-27 20:26:50,1,M,-80.154709-26.011536
575,576,118439159496578951359,0x88d9ab97fb55bebf:0x57152adb298e368,"Always good food, today I decided to eat somet...",2015-10-22 23:19:13,5,M,-80.154709-26.011536
...,...,...,...,...,...,...,...,...
2611340,2611341,100587458712890226281,0x88e77b72f6649745:0x79b4f1ce48d76510,SinDato,2019-05-19 23:12:46,4,M,-81.374706-28.512548
2611341,2611342,110231464592847703005,0x88e77b72f6649745:0x79b4f1ce48d76510,SinDato,2019-08-25 17:25:36,3,M,-81.374706-28.512548
2611342,2611343,105637211086559183753,0x88e77b72f6649745:0x79b4f1ce48d76510,SinDato,2019-12-02 12:08:11,3,M,-81.374706-28.512548
2611343,2611344,100108895961709899677,0x88e77b72f6649745:0x79b4f1ce48d76510,SinDato,2017-11-27 15:43:47,3,M,-81.374706-28.512548
2611344,2611345,113792330713466998235,0x88e77b72f6649745:0x79b4f1ce48d76510,SinDato,2019-04-02 15:12:34,4,M,-81.374706-28.512548

Limpiar y ordenar datasets antes de unificar

In [ ]:
# Cambiar el nombre de la columna yelp_id por platform_id
df_reviews_yelp = df_Ryelp_con_business_id.rename(columns={'yelp_id': 'platform_id'})

In [ ]:
# Cambiar el nombre de la columna gmap_id por platform_id
df_reviews_maps = df_sin_nan_business_id.rename(columns={'gmap_id': 'platform_id'})

Unificar datasets

In [ ]:
df_reviews_union = pd.concat([df_reviews_maps, df_reviews_yelp], ignore_index=True)

# Verifica las primeras filas del DataFrame resultante
df_reviews_union

,review_id,user_id,platform_id,text,date,rating,platform,business_id
0,572,109618771615485546482,0x88d9ab97fb55bebf:0x57152adb298e368,"Best service I've had in a while, the waiter w...",2016-09-21 05:50:51,5,M,-80.154709-26.011536
1,573,102292736999525394556,0x88d9ab97fb55bebf:0x57152adb298e368,"I loved the people, when I worked there and al...",2017-06-25 01:32:55,5,M,-80.154709-26.011536
2,574,115255773073332262064,0x88d9ab97fb55bebf:0x57152adb298e368,Best wings ever! Still can't find a place that...,2015-12-19 18:39:21,5,M,-80.154709-26.011536
3,575,111199664269920344334,0x88d9ab97fb55bebf:0x57152adb298e368,I used to go to this place all the time about ...,2016-10-27 20:26:50,1,M,-80.154709-26.011536
4,576,118439159496578951359,0x88d9ab97fb55bebf:0x57152adb298e368,"Always good food, today I decided to eat somet...",2015-10-22 23:19:13,5,M,-80.154709-26.011536
...,...,...,...,...,...,...,...,...
1684924,Ty0kH4zkW3LITgZOUbaoRQ,WUbPRxpzBiLrR99Ur25_Ow,scf430KfZAuglZdiv44zOQ,Very good hibachi at an affordable rate! They'...,2017-08-06 20:04:28,5,Y,-82.256435-27.939031
1684925,sVhUXNTeO3zfI6l_Hxt7LQ,CyhZB9-6OuJ9jgm8D_ME9A,scf430KfZAuglZdiv44zOQ,Very good. Veggies are always very fresh. The ...,2021-09-30 21:06:50,5,Y,-82.256435-27.939031
1684926,iSESKbgykGhXCCXlHeN-uQ,UJNLqfAlxQmO527Id5Yu3Q,scf430KfZAuglZdiv44zOQ,Oriental food restaurants can be hit or miss. ...,2019-12-20 19:11:36,5,Y,-82.256435-27.939031
1684927,lRDp2xu8zqKLP69Fa-EUCA,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,This spot is a quick version of traditional co...,2021-09-09 17:31:25,13,Y,-82.256435-27.939031
1684928,94K4rWS-9_f6mcm1kiGr6Q,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,Here's another local gem that I have passed by...,2021-03-07 21:10:30,23,Y,-82.256435-27.939031

In [ ]:
# Reordenar las columnas
nuevo_orden = ['review_id', 'user_id', 'platform_id', 'platform', 'business_id', 'text', 'date', 'rating']  

# Reordena las columnas
df_reviews_union = df_reviews_union[nuevo_orden]

In [ ]:
df_reviews_union

,review_id,user_id,platform_id,platform,business_id,text,date,rating
0,572,109618771615485546482,0x88d9ab97fb55bebf:0x57152adb298e368,M,-80.154709-26.011536,"Best service I've had in a while, the waiter w...",2016-09-21 05:50:51,5
1,573,102292736999525394556,0x88d9ab97fb55bebf:0x57152adb298e368,M,-80.154709-26.011536,"I loved the people, when I worked there and al...",2017-06-25 01:32:55,5
2,574,115255773073332262064,0x88d9ab97fb55bebf:0x57152adb298e368,M,-80.154709-26.011536,Best wings ever! Still can't find a place that...,2015-12-19 18:39:21,5
3,575,111199664269920344334,0x88d9ab97fb55bebf:0x57152adb298e368,M,-80.154709-26.011536,I used to go to this place all the time about ...,2016-10-27 20:26:50,1
4,576,118439159496578951359,0x88d9ab97fb55bebf:0x57152adb298e368,M,-80.154709-26.011536,"Always good food, today I decided to eat somet...",2015-10-22 23:19:13,5
...,...,...,...,...,...,...,...,...
1684924,Ty0kH4zkW3LITgZOUbaoRQ,WUbPRxpzBiLrR99Ur25_Ow,scf430KfZAuglZdiv44zOQ,Y,-82.256435-27.939031,Very good hibachi at an affordable rate! They'...,2017-08-06 20:04:28,5
1684925,sVhUXNTeO3zfI6l_Hxt7LQ,CyhZB9-6OuJ9jgm8D_ME9A,scf430KfZAuglZdiv44zOQ,Y,-82.256435-27.939031,Very good. Veggies are always very fresh. The ...,2021-09-30 21:06:50,5
1684926,iSESKbgykGhXCCXlHeN-uQ,UJNLqfAlxQmO527Id5Yu3Q,scf430KfZAuglZdiv44zOQ,Y,-82.256435-27.939031,Oriental food restaurants can be hit or miss. ...,2019-12-20 19:11:36,5
1684927,lRDp2xu8zqKLP69Fa-EUCA,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,Y,-82.256435-27.939031,This spot is a quick version of traditional co...,2021-09-09 17:31:25,13
1684928,94K4rWS-9_f6mcm1kiGr6Q,JR769FnCuNtMVYfAz3rAew,scf430KfZAuglZdiv44zOQ,Y,-82.256435-27.939031,Here's another local gem that I have passed by...,2021-03-07 21:10:30,23

In [ ]:
# Exportar dataset
df_reviews_union.to_csv('reviews_union.csv', index=False)